.footer {
    width: 100%;
    height: 80px;
    background: url('./img/footer-sea.svg') center / contain no-repeat;
}

.tree {
    background-image: url('./img/footer-tree.webp');
    height: 60px;
    background-size: cover;
    background-position: bottom center;
}
